body{
font-family:Arial;
margin:0;
padding:0;
background:#f2f2f2;
}

.dark{
background:#111;
color:white;
}

header{
display:flex;
justify-content:space-between;
padding:15px;
background:royalblue;
color:white;
}

.container{
padding:20px;
}

.controls{
display:flex;
gap:10px;
flex-wrap:wrap;
margin-bottom:20px;
}

button{
padding:10px;
cursor:pointer;
border:none;
border-radius:5px;
}

.scoreBox{
background:white;
padding:15px;
border-radius:10px;
margin-bottom:20px;
}

.question{
background:white;
padding:15px;
margin-bottom:15px;
border-radius:10px;
}

.option{
display:block;
margin:8px;
padding:10px;
border:1px solid gray;
cursor:pointer;
border-radius:5px;
}

.correct{
background:lightgreen;
}

.wrong{
background:salmon;
}

.dark .question,
.dark .scoreBox{
background:#222;
}

#message{
margin:15px 0;
font-weight:bold;
}

@media(max-width:600px){

.controls{
flex-direction:column;
}

}